target/
*.iml
.idea/
nbactions.xml
*.versionsBackup
.attach*
Docs/build
Docs/venv
profile_*.csv
/noisemodelling-jdbc/src/test/resources/org/noise_planet/noisemodelling/jdbc/PropaRail/
/noisemodelling-jdbc/src/test/java/org/noise_planet/noisemodelling/jdbc/PropaTrainTest.java
