name: CI

on: [ push, pull_request, workflow_dispatch ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: SPalominos/PostGIS-Installer-Action@v1.0.1
        with:
          psql_version: '9.6'
          pgis_version: '2.5'
          docker_image: 'postgis/postgis'
          db_password: 'orbisgis'
          db_user: 'orbisgis'
          db_name: 'orbisgis_db'
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
          server-id: ossrh
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD
      - name: Building
        run: |
          mvn test install -B
          cd wps_scripts && ./gradlew test --info --stacktrace
      - name: Deploy
        env:
          MAVEN_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.OSSRH_TOKEN }}
        if: env.MAVEN_USERNAME != null
        run: mvn clean deploy -B -P maven-deploy
      - name: Clean
        run: rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
      - name: Cache
        uses: actions/cache@v2
        with:
          path: |
            $HOME/.m2/
            $HOME/.gradle/caches/
            $HOME/.gradle/wrapper/
          key: ${{ runner.os }}-${{ hashFiles('**/lockfiles') }}

      #Production of the archive
      - name: Unzip production artifacts
        run: cd wps_scripts && ./gradlew assembleDist && unzip build/distributions/scriptrunner.zip
      - name: Archive production artifacts
        uses: actions/upload-artifact@v2
        with:
          name:  NoiseModelling_without_gui.zip
          path: wps_scripts/build/distributions/scriptrunner/